@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/ExternalLogin.css" rel="stylesheet" />
<div class="row">
    <img class="backgroundImage"/>
    <div class="logindiv">
        <p class="text-center" style="margin-top:2%">Login with your social media account</p>
        <div class="text-center social-btn">
            <a class="btn btn-danger" asp-action="GoogleLogin"><i class="fa fa-google"></i>&nbsp; Google</a>
            <a href="#" class="btn btn-secondary" style="cursor:not-allowed"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
            <a href="#" class="btn btn-info" style="cursor:not-allowed"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
        </div>
    </div>
</div>